div.SendPost {
  width: 100%;
  height: calc(100vh);
  top: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.217);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

div.SendPost .card-container{
  width: 300px;
  height: 400px;
  background: #fff;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  padding-top: 18px;
  align-items: center;
}
div.SendPost .card-container input.title {
  width: 250px;
  height: 50px;
  padding: 15px ;
  border-radius: 16px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  border: none;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 18px;
  font-size: 1.6rem;
}
div.SendPost .card-container input.title:focus{
  outline-color: rgba(0, 0, 0, 0.25);
}

div.SendPost .card-container textarea.post-content {
  width: 250px;
  min-height: 180px;
  border-radius: 16px;
  padding: 15px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  border: none;
  color: rgba(0, 0, 0, 0.6);
  font-size: 1.6rem;
}
div.SendPost .card-container textarea.post-content:focus{
  outline-color: rgba(0, 0, 0, 0.25);
}
div.SendPost .card-container .validator-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}
div.SendPost .card-container .validator-container button {
  width: 250px;
  height: 38px;
  border-radius: 16px;
  border: none;
  font-size: 1.6rem;
  margin-top: 15px;
}

div.SendPost .card-container .validator-container button.post{
  color: #fff;
  background: var(--background-violet);
}
div.SendPost .card-container .validator-container button.cancel{
  color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  background: none;
}