.Logo{
  width: 160px;
  height: 80px;
  background-color: var(--background-violet);
  border-radius: 16px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Logo .b {
  width: 10px;
  height: 50px;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  position: relative;
}

.Logo .b::before {
  position: absolute;
  width: 30px;
  height: 30px;
  content: '';
  border-right: 2px solid #fff;
  border-radius: 50%;
  transform: rotate(-30deg);
  bottom: 22px;
  left: 1px;
}
.Logo .b::after {
  position: absolute;
  width: 30px;
  height: 30px;
  content: '';
  border-right: 2px solid #fff;
  border-radius: 50%;
  transform: rotate(30deg);
  top: 22px;
  left: 1px;
}

.Logo .c {
  width: 50px;
  height: 50px;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  position: relative;
  border-radius: 50%;
  -webkit-clip-path: polygon(0 0, 70% 0, 70% 100%, 0% 100%);
  clip-path: polygon(0 0, 70% 0, 70% 100%, 0% 100%);
  position: relative;
}

.Logo .c::before {
  width: 1px;
  height: 15px;
  border-left: 1px solid #fff;
  position: absolute;
  content: '';
  bottom: -2px;
  left: 32px;
  transform: rotate(-25deg);
}
.Logo .c::after {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border-left: 2px solid #fff;
  position: absolute;
  content: '';
  bottom: 12px;
  left: 17px;
}