.PostCard{
  margin: 10px 0 0 0;
  width: 300px;
  height: auto;
  padding: 21px 10px 10px 10px;
  border-radius: 16px;
  background: var(--light-violet);
  cursor: pointer;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  color: black;
}
.PostCard .contentCard h3{
  width: 100%;
  margin-bottom: 10px;
  font-size: 15px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
.PostCard .contentCard p{
  width: 100%;
  margin-bottom: 10px;
  font-size: 15px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

section {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

section a {
  text-decoration: none;
  font-size: 12px;
  color: var(--gray);
}