.User {
  padding: 17px 13px;
}

.related-post-title{
  color: var(--letter-color-violet);
  font-size: 1.8rem;
  margin-bottom: 10px;
}
.User .loader-container {
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.217);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}